@import "tailwindcss";

@theme {
  /* This maps the CSS variables from layout.tsx to Tailwind utilities */
  --font-heading: var(--font-archivo);
  --font-body: var(--font-roboto);
}

/* Base styles using the CSS variables from Next.js Font */
@layer base {
  html {
    /* This ensures everything defaults to Roboto */
    font-family: var(--font-roboto), ui-sans-serif, system-ui;

    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* This ensures all headings use Archivo */
    font-family: var(--font-archivo), ui-sans-serif, system-ui;
  }

  button.btn-text > span {
    display: inline-flex;
    gap: 0.2rem;
  }
}
